/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Master Base Template - Structure
   ========================================================================== */
body {
  background-color: #077269;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.65em;
  margin: 0; }

.site-header {
  background-color: #deddbf;
  padding: 20px; }

#clear-review {
  background-color: #efefef;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
  margin: 0;
  padding: 5px 15px;
  text-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid #ccc;
  float: right;
  font-weight: bold; }

.site-nav {
  float: left;
  margin: 0 0 20px; }
  .site-nav ul {
    margin: 0;
    padding: 0 5px 10px; }
  .site-nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px; }
  .site-nav a {
    color: #000; }

footer {
  padding: 20px; }

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3 {
  font-family: Fenix, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px 0; }

.site-title {
  clear: both;
  font-size: 72px;
  line-height: 1em;
  padding: 20px 0 40px;
  text-align: center; }

h1 a {
  color: #000;
  text-decoration: none; }

h2 {
  font-size: 30px; }

h2#review-theme {
  text-align: center; }

h3 {
  font-size: 24px; }

/* ==========================================================================
   Global Classes
   ========================================================================== */
.error {
  color: red; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  color: #000; }

/* ==========================================================================
   Forms
   ========================================================================== */
input, label {
  display: block; }

input {
  margin-bottom: 5px; }

input[type='submit'] {
  margin-top: 15px; }

/* ==========================================================================
   Containers & Holders
   ========================================================================== */
.full-container {
  margin: 0; }

.container {
  background-color: #efefef;
  border: 1px solid #666;
  margin: 0 auto;
  max-width: 800px;
  overflow: auto;
  width: 85%; }
