/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf") format("truetype"), url("fonts/icomoon.woff") format("woff"), url("fonts/icomoon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-arrow-down:before {
  content: "\e600"; }

.icon-arrow-up:before {
  content: "\e601"; }

.icon-help:before {
  content: "\e602"; }

.icon-cross:before {
  content: "\e603"; }

.icon-cross2:before {
  content: "\e604"; }

.icon-plus:before {
  content: "\e605"; }

.icon-minus:before {
  content: "\e606"; }

/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Module/Page Specific CSS: Contains CSS that is not global
   Examples: "About Page Only" CSS or a non-reusable component
   ========================================================================== */
.icon-arrow-up, .icon-arrow-down {
  float: right; }

#settings-section {
  background-color: #d76623;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; }
  #settings-section #settings-toggle {
    cursor: pointer; }
  #settings-section #settings-form {
    display: none; }
    #settings-section #settings-form label, #settings-section #settings-form input {
      display: inline; }
    #settings-section #settings-form label {
      font-weight: bold; }
    #settings-section #settings-form div {
      margin: 5px 0; }
    #settings-section #settings-form #form-categories label, #settings-section #settings-form #form-categories input {
      display: block; }
    #settings-section #settings-form #form-categories input {
      margin-bottom: 10px;
      width: 230px; }
    #settings-section #settings-form #theme {
      width: 100%; }
    #settings-section #settings-form #year {
      margin-left: 10px;
      width: 100px; }
    #settings-section #settings-form #save {
      background-color: #cbcbcb;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: black;
      margin: 20px 0 3px;
      padding: 3px 10px;
      text-shadow: none;
      -webkit-transition-property: background;
      -moz-transition-property: background;
      -o-transition-property: background;
      transition-property: background;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      display: block;
      font-weight: bold; }

#goals-section {
  background-color: #cbcbcb;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; }
  #goals-section #goals-toggle {
    cursor: pointer; }
  #goals-section #goal-form {
    display: none;
    margin-top: 20px; }
    #goals-section #goal-form h3 {
      border-bottom: 1px dashed #888; }
  #goals-section label {
    font-weight: bold; }
  #goals-section input[type="text"], #goals-section select, #goals-section textarea {
    margin-bottom: 10px;
    width: 250px; }
  #goals-section textarea {
    height: 100px; }
  #goals-section div {
    clear: both;
    overflow: auto; }
  #goals-section label[for="new-goal"],
  #goals-section label[for="deadline-input"],
  #goals-section #new-goal, #goals-section #deadline-input {
    float: left; }
  #goals-section label[for="new-goal"],
  #goals-section label[for="deadline-input"] {
    width: 75px; }
  #goals-section .instructions {
    font-size: 15px; }
  #goals-section label[for="enable-logging"],
  #goals-section label[for="sum-entries"],
  #goals-section #sum-entries, #goals-section #enable-logging,
  #goals-section #unit, #goals-section label[for="unit"] {
    display: inline; }
  #goals-section #enable-logging {
    margin-right: 20px; }
  #goals-section #unit-container {
    display: none;
    margin-top: 20px; }
  #goals-section #unit {
    margin-left: 20px; }
  #goals-section #add-goal {
    background-color: #14a588;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 20px 0 3px;
    padding: 3px 10px;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-weight: bold; }
  #goals-section span.error {
    margin-left: 10px; }

#log-section {
  background-color: #4a586b;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; }
  #log-section #log-toggle {
    cursor: pointer; }
  #log-section #log-content {
    display: none; }
  #log-section #stats {
    color: #fefefe;
    list-style-type: none;
    padding-left: 0; }
  #log-section .log-goal {
    background-color: #efefef;
    padding: 10px;
    border-radius: 2px;
    margin: 20px 0; }
    #log-section .log-goal div {
      clear: both; }
  #log-section li {
    margin: 10px 0; }
  #log-section #new-log-item {
    display: inline;
    width: 250px; }
  #log-section #new-log-date {
    float: right;
    width: 100px; }
  #log-section .delete {
    background-color: #cbcbcb;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 3px 0;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    float: right;
    font-weight: bold;
    width: 30px; }
  #log-section h3 {
    float: left; }
  #log-section .log-date {
    float: right;
    font-style: italic;
    margin-right: 1em; }
  #log-section .remove-log-goal {
    background-color: #d76623;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 3px 0;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    float: right;
    font-weight: bold;
    width: 30px; }
  #log-section .cancel {
    color: #fefefe; }

#categories {
  padding: 20px; }
  #categories h2 {
    border-bottom: 1px dashed #888; }
  #categories h3 {
    float: left;
    margin-right: 20px; }
  #categories .goal {
    margin-bottom: 10px;
    padding: 10px 0; }
  #categories .delete {
    font-weight: bold; }
  #categories .delete, #categories .complete, #categories .undo-complete {
    background-color: #14a588;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 10px 0 0 5px;
    padding: 3px 7px;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    float: right;
    width: 30px; }
  #categories .undo-complete {
    background-color: darkkhaki; }
  #categories .deadline, #categories .completed-date {
    float: left;
    font-size: .95em;
    font-style: italic;
    margin-top: 10px; }
  #categories .completed-date {
    clear: both;
    margin-top: 0; }
  #categories .notes {
    clear: both; }
  #categories #new-goal-title {
    float: left;
    margin-right: 20px;
    margin-top: 10px; }
  #categories #new-deadline {
    float: left;
    margin-top: 10px; }
  #categories #new-notes {
    clear: both;
    display: block;
    height: 100px;
    width: 100%; }
  #categories .add-log-entry {
    font-size: .95em; }

.logging {
  clear: both;
  font-size: .95em;
  overflow: auto; }
  .logging label, .logging .log-input, .logging .unit {
    float: left;
    margin-right: 10px;
    margin-top: 5px; }
  .logging label {
    font-weight: bold; }
  .logging .log-input {
    margin-right: 5px; }
  .logging .save-log-entry, .logging .cancel {
    float: right;
    margin-top: 5px; }
  .logging .save-log-entry {
    background-color: #d76623;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fefefe;
    margin: 3px 0 0;
    padding: 3px 10px;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .logging .entry-date-label {
    display: inline; }
  .logging .entry-date {
    width: 100px;
    display: inline;
    margin-top: 5px; }
  .logging .cancel {
    margin-right: 5px; }
