/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Module/Page Specific CSS: Contains CSS that is not global
   Examples: "About Page Only" CSS or a non-reusable component
   ========================================================================== */
#settings-section {
  background-color: #efefef;
  padding: 10px; }
  #settings-section .settings-toggle {
    cursor: pointer; }
  #settings-section #settings-form {
    display: none; }
    #settings-section #settings-form label, #settings-section #settings-form input {
      display: inline; }
    #settings-section #settings-form #form-categories label, #settings-section #settings-form #form-categories input {
      display: block; }
    #settings-section #settings-form #form-categories input {
      width: 230px; }
    #settings-section #settings-form #theme {
      width: 100%; }
    #settings-section #settings-form #year {
      margin-left: 10px;
      width: 100px; }
    #settings-section #settings-form #save {
      display: block; }

#goals-section {
  background-color: #cbcbcb;
  padding: 10px; }
  #goals-section .goals-toggle {
    cursor: pointer; }
  #goals-section #goal-form {
    display: none; }
  #goals-section #unit-container {
    display: none; }

#log-section {
  background-color: #898989;
  padding: 10px; }
  #log-section .log-toggle {
    cursor: pointer; }
  #log-section #log-content {
    display: none; }

.goal {
  border-bottom: 1px dotted #666;
  margin-bottom: 10px;
  padding: 10px 0; }
