/*customized version of normalize-full.scss*/
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -ms-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

.ui-dialog {
  background-color: #efefef;
  border: 1px solid #000; }

.ui-widget-header {
  font-size: 18px;
  font-weight: bold; }

/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Master Base Template - Structure
   ========================================================================== */
body {
  background-color: #077269;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.65em;
  margin: 0; }

.site-header {
  background-color: #deddbf;
  padding: 20px; }

#clear-review {
  background-color: #efefef;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: black;
  margin: 0;
  padding: 5px 15px;
  text-shadow: none;
  -webkit-transition-property: background;
  -moz-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
  border: 1px solid #ccc;
  float: right;
  font-weight: bold; }

.site-nav {
  float: left;
  margin: 0 0 20px; }
  .site-nav ul {
    margin: 0;
    padding: 0 5px 10px; }
  .site-nav li {
    display: inline;
    list-style-type: none;
    padding-right: 20px; }
  .site-nav a {
    color: #000; }

footer {
  padding: 20px; }

/* ==========================================================================
   Typography
   ========================================================================== */
h1, h2, h3 {
  font-family: Fenix, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 10px 0; }

.site-title {
  clear: both;
  font-size: 72px;
  line-height: 1em;
  padding: 20px 0 40px;
  text-align: center; }

h1 a {
  color: #000;
  text-decoration: none; }

h2 {
  font-size: 30px; }

h2#review-theme {
  text-align: center; }

h3 {
  font-size: 24px; }

/* ==========================================================================
   Global Classes
   ========================================================================== */
.error {
  color: red; }

/* ==========================================================================
   Links
   ========================================================================== */
a {
  color: #000; }

/* ==========================================================================
   Forms
   ========================================================================== */
input, label {
  display: block; }

input {
  margin-bottom: 5px; }

input[type='submit'] {
  margin-top: 15px; }

/* ==========================================================================
   Containers & Holders
   ========================================================================== */
.full-container {
  margin: 0; }

.container {
  background-color: #efefef;
  border: 1px solid #666;
  margin: 0 auto;
  max-width: 800px;
  overflow: auto;
  width: 85%; }

/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Global Mixins
   ========================================================================== */
/* ==========================================================================
   Global Variables
   ========================================================================== */
/**
 * ## Global Spaces
 */
/**
 * ## Global Widths
 */
/**
 * ## Global Colors
 */
/* ==========================================================================
   Module/Page Specific CSS: Contains CSS that is not global
   Examples: "About Page Only" CSS or a non-reusable component
   ========================================================================== */
#settings-section {
  background-color: #d76623;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; }
  #settings-section .settings-toggle {
    cursor: pointer; }
  #settings-section #settings-form {
    display: none; }
    #settings-section #settings-form label, #settings-section #settings-form input {
      display: inline; }
    #settings-section #settings-form label {
      font-weight: bold; }
    #settings-section #settings-form div {
      margin: 10px 0; }
    #settings-section #settings-form #form-categories label, #settings-section #settings-form #form-categories input {
      display: block; }
    #settings-section #settings-form #form-categories input {
      margin-bottom: 20px;
      width: 230px; }
    #settings-section #settings-form #theme {
      width: 100%; }
    #settings-section #settings-form #year {
      margin-left: 10px;
      width: 100px; }
    #settings-section #settings-form #save {
      background-color: #cbcbcb;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: black;
      margin: 20px 0 3px;
      padding: 5px 15px;
      text-shadow: none;
      -webkit-transition-property: background;
      -moz-transition-property: background;
      -o-transition-property: background;
      transition-property: background;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      display: block;
      font-weight: bold; }

#goals-section {
  background-color: #cbcbcb;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; }
  #goals-section .goals-toggle {
    cursor: pointer; }
  #goals-section #goal-form {
    display: none; }
  #goals-section label {
    font-weight: bold; }
  #goals-section input[type="text"], #goals-section select, #goals-section textarea {
    margin-bottom: 20px;
    width: 250px; }
  #goals-section textarea {
    height: 100px; }
  #goals-section div {
    clear: both;
    overflow: auto; }
  #goals-section #goal-form {
    margin-top: 20px; }
  #goals-section label[for="new-goal"],
  #goals-section label[for="deadline-input"],
  #goals-section #new-goal, #goals-section #deadline-input {
    float: left; }
  #goals-section label[for="new-goal"],
  #goals-section label[for="deadline-input"] {
    width: 75px; }
  #goals-section .instructions {
    font-size: 15px; }
  #goals-section label[for="enable-logging"],
  #goals-section label[for="sum-entries"],
  #goals-section #sum-entries, #goals-section #enable-logging,
  #goals-section #unit, #goals-section label[for="unit"] {
    display: inline; }
  #goals-section #enable-logging {
    margin-right: 20px; }
  #goals-section #unit-container {
    display: none;
    margin-top: 20px; }
  #goals-section #unit {
    margin-left: 20px; }
  #goals-section #add-goal {
    background-color: #14a588;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 15px 0 3px;
    padding: 5px 15px;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    font-weight: bold; }

#log-section {
  background-color: #4a586b;
  border-bottom: 1px solid #ddd;
  padding: 10px 20px; }
  #log-section .log-toggle {
    cursor: pointer; }
  #log-section #log-content {
    display: none; }
  #log-section #stats {
    color: #fefefe;
    list-style-type: none;
    padding-left: 0; }
  #log-section .log-goal {
    background-color: #efefef;
    padding: 10px;
    border-radius: 2px;
    margin: 20px 0; }
    #log-section .log-goal div {
      clear: both; }
  #log-section h3 {
    float: left; }
  #log-section .remove-log-goal {
    background-color: #d76623;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 0;
    padding: 3px 0;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    float: right;
    font-weight: bold;
    width: 30px; }
  #log-section .cancel {
    color: #fefefe; }

#categories {
  padding: 20px; }
  #categories h2 {
    border-bottom: 1px dashed #888; }
  #categories h3 {
    float: left;
    margin-right: 20px; }
  #categories .goal {
    margin-bottom: 10px;
    padding: 10px 0; }
  #categories .delete {
    font-weight: bold; }
  #categories button {
    background-color: #14a588;
    border: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: black;
    margin: 10px 0 0 5px;
    padding: 3px 7px;
    text-shadow: none;
    -webkit-transition-property: background;
    -moz-transition-property: background;
    -o-transition-property: background;
    transition-property: background;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    float: right;
    width: 30px; }
  #categories .deadline, #categories .completed-date {
    float: left;
    font-size: .95em;
    font-style: italic;
    margin-top: 10px; }
  #categories .completed-date {
    clear: both;
    margin-top: 0; }
  #categories .notes {
    clear: both; }
  #categories .add-log-entry {
    font-size: .95em; }
  #categories .logging {
    clear: both;
    font-size: .95em;
    overflow: auto; }
    #categories .logging label, #categories .logging .log-input, #categories .logging .unit {
      float: left;
      margin-right: 10px;
      margin-top: 5px; }
    #categories .logging label {
      font-weight: bold; }
    #categories .logging .log-input {
      margin-right: 5px; }
    #categories .logging .save-log-entry, #categories .logging .cancel {
      float: right;
      margin-top: 5px; }
    #categories .logging .save-log-entry {
      background-color: #d76623;
      border: none;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
      color: #fefefe;
      margin: 3px 0 0;
      padding: 5px 15px;
      text-shadow: none;
      -webkit-transition-property: background;
      -moz-transition-property: background;
      -o-transition-property: background;
      transition-property: background;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    #categories .logging .save-log-entry:hover {
      background: rgba(20, 165, 136, 0.9); }
    #categories .logging .cancel {
      margin-right: 5px; }
