@import "variables"; // Global variables

/* ==========================================================================
   Global Mixins
   ========================================================================== */

   		@mixin button($color, $background-color, $padding, $margin) {
            background-color: $background-color;
            border: none;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
            border-radius: 3px;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            color: $color;
            margin: $margin;
            padding: $padding;
            text-shadow: none;
            -webkit-transition-property: background;
            -moz-transition-property: background;
            -o-transition-property: background;
            transition-property: background;
            -webkit-transition-duration: 0.3s;
            -moz-transition-duration: 0.3s;
            -o-transition-duration: 0.3s;
            transition-duration: 0.3s;
        }