/* ==========================================================================
   Global Variables
   ========================================================================== */

    /**
     * ## Global Spaces
     */
        $default-spacing: 20px;

    /**
     * ## Global Widths
     */
        $max-width: 800px;
        $half-width: $max-width / 2;

    /**
     * ## Global Colors
     */
        // THEME COLORS
        $blue-green: #077269; // body background
        $white-gray: #efefef; // default text background
        $gray: #DEDDBF; // header background
        
        // sections
        $orange: #D76623;
        $purple-gray: #cbcbcb;
        $light-warm-purple: rgba(148, 62, 88, .85);

        // buttons and details
        $light-blue-green: #14a588;    
        $dark-khaki: #bdb76b;
        $warm-purple: #9C4E66;