/* ==========================================================================
   Global Variables
   ========================================================================== */

	/**
	 * ## Global Spaces
	 */
		$default-spacing: 20px;

	/**
	 * ## Global Widths
	 */
		$max-width: 800px;
		$half-width: $max-width / 2;

	/**
	 * ## Global Colors
	 */
		$white-gray: #fefefe;
		$medium-blue: #067072;
		$green: #14A589;
		$bright-orange: #F94B06;
		$purple: #792D4D;