@import "variables"; // Global variables

@font-face {
        font-family: 'icomoon';
        src:url('fonts/icomoon.eot');
        src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
            url('fonts/icomoon.ttf') format('truetype'),
            url('fonts/icomoon.woff') format('woff'),
            url('fonts/icomoon.svg#icomoon') format('svg');
        font-weight: normal;
        font-style: normal;
    }

/* ==========================================================================
   Master Base Template - Structure
   ========================================================================== */
        body {
            background: $blue-green;
            font-family: Roboto, Helvetica, Arial, sans-serif;
            font-size: 16px;
            line-height: 1.65em;
            margin: 0;
        }

        .site-header {
            background-color: $gray;
            border: 1px dashed $blue-green;
            padding: $default-spacing;
            margin: 10px;
        }

        #clear-review {
            @include button(#fefefe, $warm-purple, 3px 10px, 0);
            border: 1px solid #555;
            float: right;
        }

        .site-nav {
            float: left;
            margin: 0 0 $default-spacing;

            ul {
                margin: 0;
                padding: 0 5px 10px;
            }

            li {
                display: inline;
                list-style-type: none;
                padding-right: $default-spacing;
            }

            a {
                color: #000;
            }
        }

        footer {
            padding: $default-spacing;
        }

/* ==========================================================================
   Typography
   ========================================================================== */
        h1, h2, h3 {
            font-family: Fenix, Helvetica, Arial, sans-serif;
            margin: 0;
            padding: 5px 0;
        }

        .site-title {
            clear: both;
            font-size: 65px;
            line-height: 1em;
            padding: $default-spacing 0 $default-spacing*2;
            text-align: center;
        }

        h1 a {
            color: #000;
            text-decoration: none;
        }

        h2 {
            font-size: 28px;
        }

        h2#review-theme {
            text-align: center;
        }

        h3 {
            font-size: 22px;
        }


/* ==========================================================================
   Global Classes
   ========================================================================== */

   .error {
        color: red;
   }

/* ==========================================================================
   Links
   ========================================================================== */
        a {
            color: #000;
            &:hover {
            }
        }

/* ==========================================================================
   Forms
   ========================================================================== */
        input, label {
            display: block;
        }

        input {
            margin-bottom: 5px;
        }

        input[type='submit']{
            margin-top: 15px;
        }

/* ==========================================================================
   Containers & Holders
   ========================================================================== */
        .full-container {
            padding: 10px 0;
            margin: 0;
        }

        .container {
            background-color: $white-gray;
            border: 1px solid #666;
            margin: 0 auto;
            max-width: $max-width;
            overflow: auto;
            width: 85%;
        }